/* General Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header Styles */

header {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a:hover {
  color: #ff8000;
}

/* Main Styles */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

section {
  margin-bottom: 40px;
}

section:last-child {
  margin-bottom: 0;
}

/* Music Player Styles */

#music-player {
  margin: 20px 0;
}

/* Footer Styles */

footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0px -1px 5px rgba(0,0,0,0.1);
}
